<h5 class="d-flex justify-content-center mt-4 tittles">
  Introduce tus datos personales
</h5>

<form class="d-flex-column justify-content-center p-2 m-4 pink" id="imgDatos">
  <label for="company" class="visually-hidden">Company</label>
  <input
    type="text"
    id="inputCompany"
    class="form-control justify-content-center"
    name="company"
    [(ngModel)]="data.company"
    placeholder="Empresa (opcional)"
    autofocus
  />

  <br />
  <label for="position" class="visually-hidden">Position</label>
  <input
    type="text"
    id="inputPosition"
    class="form-control justify-content-center"
    name="position"
    [(ngModel)]="data.position"
    placeholder="Cargo (opcional)"
    autofocus
  />

  <br />
  <label for="name" class="visually-hidden">Name</label>
  <input
    type="text"
    id="inputName"
    class="form-control justify-content-center"
    name="nombre"
    [(ngModel)]="data.name"
    placeholder="Nombre"
    required
    autofocus
  />

  <br />
  <label for="Surname" class="visually-hidden">Surname</label>
  <input
    type="text"
    id="inputSurname"
    class="form-control"
    name="surname"
    [(ngModel)]="data.surname"
    placeholder="Apellido"
    required
    autofocus
  />

  <br />

  <label for="phone" class="visually-hidden">Phone Number</label>
  <input
    type="text"
    id="inputPhone"
    class="form-control"
    name="phone"
    [(ngModel)]="data.phone"
    placeholder="Teléfono"
    required
  />

  <br />
  <label for="Email" class="visually-hidden">Email</label>
  <input
    type="email"
    id="inputEmail"
    class="form-control"
    name="email"
    [(ngModel)]="data.email"
    placeholder="Email"
    autocomplete="email"
    required
    autofocus
  />

  <br />
  <label for="homepage" class="visually-hidden"
    >Add your homepage(optional)</label
  >
  <input
    type="url"
    id="homepage"
    name="homepage"
    class="form-control"
    name="web"
    [(ngModel)]="data.web"
    placeholder="Your homepage(optional)"
  />
</form>
