<!-- ======= Contact Section ======= -->

<!-- End Our Services Section -->
<section>
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Contacto</h2>
        <ol>
          <li><a routerLink="/home">Home</a></li>
          <li>Contacto</li>
        </ol>
      </div>
    </div>
  </section>
  <section
    class="contact"
    data-aos="fade-up"
    data-aos-easing="ease-in-out"
    data-aos-duration="500"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Dirección</h3>
                <p>Example Address</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Email</h3>
                <p>info@example.com<br />contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bx bx-phone-call"></i>
                <h3>Llámanos</h3>
                <p>XXXXXXXXXXXX<br />XXXXXXXXXXXXX</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form
            class="php-email-form"
            [formGroup]="contactForm"
            (ngSubmit)="getContact()"
          >
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  formControlName="name"
                  id="name2"
                  placeholder="Nombre"
                />
                <span
                  *ngIf="
                    validationMessage.name.invalid &&
                    validationMessage.name.touched
                  "
                  ><small>Por favor escribe almenos 3 caracteres</small></span
                >
              </div>
              <div class="col-md-6 form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  formControlName="email"
                  id="email2"
                  placeholder="Email"
                />
                <span
                  *ngIf="
                    validationMessage.email.invalid &&
                    validationMessage.email.touched
                  "
                  ><small>Por favor escribe un email válido</small></span
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                formControlName="subject"
                id="subject"
                placeholder="Asunto"
              />
              <span
                *ngIf="
                  validationMessage.subject.invalid &&
                  validationMessage.subject.touched
                "
                ><small>Por favor escribe el asunto</small></span
              >
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                formControlName="message"
                rows="5"
                placeholder="Mensaje"
              ></textarea>
              <span
                *ngIf="
                  validationMessage.message.invalid &&
                  validationMessage.message.touched
                "
                ><small
                  >Este campo no puede quedar vacío y no puede tener más de 500
                  caracteres</small
                ></span
              >
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Su mensaje ha sido enviado. Gracias!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
<!-- End Contact Section -->
