<div class="p-0">
  <section id="hero-no-slider" class="d-flex align-items-center m-0">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-start">
        <div class="col-xl-8">
          <h1 class="">Generador QR gratuito</h1>
          <p>Empieza ahora a diseñar tu código QR totalmente gratuito.</p>

          <a routerLink="/qr-Generator" class="btn-get-started"
            >Diseñar mi QR</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
<!-- The routed views render in the <router-outlet>-->

<!-- End Hero No Slider Sectio -->
