<!-- ======= Hero Section ======= -->

<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex align-items-center">
  <div
    class="container position-relative"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="row justify-content-start">
      <div class="col-xl-8">
        <h1 class="">Generador QR gratuito</h1>
        <p>Empieza ahora a diseñar tu código QR totalmente gratuito.</p>

        <a href="" class="btn-get-started">Diseñar mi QR</a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero No Slider Sectio -->
